{
  "presets": [
    "react",
    ["env", {modules: false}],
    "stage-2",
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true,
    }],
  ],
}
